* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  align-content: center;
  font-family: sans-serif;
  color: white;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); 
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); 
}

.location , 
.temperature {
    height: 30vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
   flex-direction: column; 
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}